body{
    padding: 0%;
    margin: 0%;
}
.navbarone{
    height: 75px;
    background-color: rgb(67, 119, 119);
}
/*.logo{
    float: right;
    border-radius: 5px;
    margin-top: 5px;
}*/
div button{
    float: right;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    margin-top: 18px;
    background-color: aquamarine;
}
div > button > a{
    text-decoration: none;
    color: black;
}
div > button > a:hover{
    text-decoration: none;
    color: rgb(168, 175, 105);
}
.form-control{
    width: 50%;
    margin-left: 10%;
    margin-right: 3px;
    margin-top: 15px;
}
.form-group{
    display: flex;
}
.btn-seach{
    margin-top: 15px;
    border-radius: 5px;
    margin-right: 100px;
}







nav{
    width: 100%;
    background-color: #e00b33;
}
nav > ul{
    margin: 0px;
    padding: 0px;
}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav > ul > li{
    margin-left: 33px;
    float: left;
    position: relative;
} 
nav > ul > li >a{
    padding: 20px 30px;
    color: #FFF;
}
nav > ul > li:hover a{
    padding: 12px 30px 20px 30px;
}
nav li{
    list-style-type: none;
}
.sous-menu{
    display: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    text-decoration: none;
    color: #FFF;
}
nav li:hover .sous-menu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.sous-menu li{
    border-bottom: 1px solid #CCC;
}
.sous-menu li a{
    padding: 15px 30px;
    font-size: 15px;
    color: #222538;
    width: 270px;
}
.menu-principal:hover{
    border-top: 5px solid rgb(234, 237, 240);
    background-color: rgba(160, 197, 57, 0.897);
    border-bottom: 3px solid rgb(10, 248, 89);
}
.menu-principal .sous-menu{
    background-color: beige;
}
.sous-menu li:hover a{
    background-color: rgba(160, 197, 57, 0.897);
    color: white;
    font-weight: bold;
}

/*CORPS***********  CORPS **************CORPS************/

.corps{
    background-color: beige;
    padding-top: 15px;
    padding-bottom: 45px;
    padding-left: 30px;
}
.prim{
    font-weight: bold;
    font-size: 19px;
}
.prix{
    color: #e00b33;
    text-decoration: underline;
}
.titre-detail{
    float: right;
    font-size: 40px;
    margin-right: 20%;
    text-decoration: underline;
}
 div .detail{
    float: right;
    font-size: 20px;
}
.info-vendeur{
    font-size: 30px; 
    float: right;
    text-decoration: underline;
}
.vendeur{
    font-size: 20px;
    float: right;
}



                                /*************************FOOTER *****************************/


footer{
    width: 100%;
    height: 28%;
    background-color: rgb(17, 17, 17);
    margin-top: 0%;
    padding-top: 1%;
    color: white;
}

.contact{
    float: right;
    margin-right: 95px;
}
.social{
    margin-top: 10px;
}
.services{
    float: right;
    margin-right: 400px;
}
.Apropos{
    float: right;
    margin-right: 290px;
}
.mention-legale{
    float: right;
    margin-right: 295px;
}

.footer{
    font-size: 15px;
}
.titre-contact{
    text-align: center;
    text-decoration: underline;
    color: white;
    font-size: 20px;
}

.titre-service{
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
}

.titre-apropos{
    text-decoration: underline;
    color: white;
    text-align: center;
    font-size: 20px;
}
.titre-mentions-legales{
    text-decoration: underline;
    color: white;
    text-align: center;
    font-size: 20px;
}
.sous-liens{
    color: white;
    text-align: center;
}

.copyright{
    float: right;
    background-color: rgb(17, 17, 17);
    width: 100%;
}
.copyright-text{
    float: left;
    margin-left: 40%;

}


/*.titre-contact-lie{
    text-decoration: red;

}*/