  /* BARRE DE RECHERCHE */
.wrap{
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    width: 300px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: rgb(10, 10, 10);
  }

  .searchTerm:focus{
    color: rgb(13, 13, 14);
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  

  

 /* fin barre de recherche */
body{
    margin: 0px;
    padding: 0px;
}
.tableau{
    margin-left: 200px;
    margin-right: 200px;
}
.liste{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}